<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
	<link rel="stylesheet" href="{{site.baseurl}}/css/style.css" />
	<link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" />
</head>
<body>
	<header>
		<div class="container">
			<nav class="navigation">				
				<ul>
					<li>
						<a href="{{site.baseurl}}/ru/privacy" >Политика конфиденциальности</a>
					</li>
					<li>
						<a href="{{site.baseurl}}/ru/terms" >Пользовательское соглашение</a>
					</li>
					<li>
						<a href="{{site.baseurl}}/ru/thirdparty" >Стороннее ПО</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main class="container">
	
		{{ content }}
		
		<nav class="navigation">
			<ul>
				<li>
					<a href="{{site.baseurl}}{{ page.url | replace: 'ru', 'ru' }}" >Русский</a>
				</li>
				<li>
					<a href="{{site.baseurl}}{{ page.url | replace: 'ru', 'en'}}" >English</a>
				</li>
				<li>
					<a href="{{site.baseurl}}{{ page.url | replace: 'ru', 'de'}}" >Deutsch</a>
				</li>
			</ul>
		</nav>
	</main>
</body>
</html>